* {
    padding: 0;
    color: white;
}
body {
    background-color: black;
    height: 100vh;
}

.title {
    text-align: center;
}

.container-header {
    border:  1px solid;
}
.img-container {
    height: 500px;
    width: 500px;
    object-fit: contain;
}

