body {
    background-color: gainsboro;
}
.container_lista {
    width: 200px;
    border: 1px solid;
    border-radius: 5px;
}
.container_lista h2 {
    text-align: center;

}
.container_table {
    border: 1px solid;
}
.container_table th{
    border: 1px solid;
}
.container_table td{
    border: 1px solid;
}
.tabulacao {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    width: 200px;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    border-radius: 5px;
}
.comecamos_css {
    margin-top: 10px;
}
.container_external {
    border: 1px solid;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
}
.container_external h2{
    color: plum;
}
.container_external p{
    color: blue;
}
#container_id {
    border: 1px solid;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}
.container-color {
    border: 1px solid;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    height: 200px;
    background-color: rebeccapurple;
}
.container-foto {
    background-image: url(https://th.bing.com/th/id/OIP.2ZvUbdGMIQT4e95_iV7U1gAAAA?rs=1&pid=ImgDetMain);
    height: 300px;
    width: 400px;
    border-radius: 5px;
    border: 2px solid;
    margin-top: 10px;

}
.alinhamento {
    display: flex;
    justify-content: center;
}