.box {
    border: 1px solid red;
    width: 500px;
    padding: 20px;
}
.box h3 {
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}

.box p {
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px;
    border: 1px solid blue;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    border: 1px solid;
    margin-top: 10px;
}
.boxe {
    height: 100px;
    width: 100px;
    background-color: red;
    margin: 10px;
    
    border: 1px solid;
}
.container-block {
    border: 1px solid;
    margin-top: 10px;
}

.boxe-block {
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: red;
    margin: 10px;
    border: 1px solid;
}

.container-position {
    border: 1px solid;
}

.boxe-position {
    position: absolute;
    top: 740px;
    left: 120px;
    height: 100px;
    width: 100px;
    background-color: red;
    margin: 10px;
    border: 1px solid;
}

.container-fixed {
    border: 1px solid; 
}
.boxe-fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100px;
    width: 10px;
    background-color: red;
    margin: 10px;
    border: 1px solid;
}
.container-input {
    margin-top: 10px;
    
}
.container-input input {
    border-radius: 5px;
    height: 30px;
    color: red;
}
.container-input2 input {
    border-radius: 5px;
    height: 30px;
    color: red;
}

.formulario {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    border: 1px solid;
    gap: 20px;
}
.container-radio {
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
}


